.container {
  padding: 30px;
  font-family: "Poppins", sans-serif;
   /* font-size: 20px;
  font-weight: 500; */

}

.title {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 15px;
}

.cardWrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.section {
  margin-bottom: 40px;
}

.card {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  width: 100%;
  max-width: 350px;
  margin: 0 auto;
}

.imageBox {
  width: 100%;
  height: 200px;
  background: #f8f8f8;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  overflow: hidden;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.placeholder {
  width: 90%;
  opacity: 0.7;
}

.uploadBtn {
  background: #054d3b;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 0 15px;
  display: inline-flex;
  align-items: center;
  gap: 6px;
  font-size: 14px;
  
}

.actionBtns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px 0 15px;
}

.updateBtn {
  background: #054d3b;
  color: #fff;
  border: none;
  padding: 6px 14px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 14px;
}

.deleteBtn {
  background: #d32f2f;
  color: #fff;
  border: none;
  padding: 6px 14px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 14px;
}
@media (max-width: 1024px) {
  .cardWrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .cardWrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}
.uploadCard {
  display: block;
  width: 100%;
  cursor: pointer;
   height: 200px;
}

.emptyCard {
  border: 2px dashed #4caf50;
  border-radius: 12px;
  background-color: #f9fff9;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease;
  padding: 15px; 
}

.emptyCard:hover {
  background-color: #e9f7e9;
  transform: scale(1.02);
}

.emptyIcon {
  font-size: 24px;
  color: #4caf50;
  margin-bottom: 6px;
}

.emptyText {
  font-size: 14px; /* slightly smaller text */
  font-weight: 500;
  color: #333;
  margin: 4px 0;
}

.emptyNote {
  font-size: 11px; /* smaller note */
  color: #777;
}
.image {
  object-fit: contain;
  background: #f8f8f8;
}
