.loader {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  height: 40vh;
}

.ball {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  animation: bounce 0.6s infinite alternate;
}

.ball:nth-child(1) {
  background: linear-gradient(45deg, #06402B, #a5d6a7);
  animation-delay: 0s;
}

.ball:nth-child(2) {
  background: linear-gradient(45deg, #a5d6a7, #06402B);
  animation-delay: 0.2s;
}

.ball:nth-child(3) {
  background: linear-gradient(45deg, #06402B, #a5d6a7);
  animation-delay: 0.4s;
}

@keyframes bounce {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-30px);
  }
}
