.modalBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 800px;
  max-height: 90vh;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
  padding: 1.5rem;
  overflow-y: auto;
}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.title {
  font-size: 1.3rem;
  font-weight: 600;
  color: #222;
}


.formGrid {
  display: grid;
  gap: 16px;
  margin-top: 1.5rem;
}


@media (min-width: 600px) {
  .formGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 900px) {
  .formGrid {
    grid-template-columns: repeat(3, 1fr);
  }
}


.buttonGroup {
  margin-top: 1.5rem;
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.buttonPrimary {
  background-color: #1976d2 !important;
  color: white !important;
  text-transform: none !important;
}

.buttonPrimary:hover {
  background-color: #115293 !important;
}

.buttonSecondary {
  text-transform: none !important;
  color: #333 !important;
}

@media (min-width: 600px) {
  .buttonGroup {
    flex-direction: row;
  }
}
