.orderHead {
  display: flex;
  gap: 40px;
  align-items: baseline;
}
.orderId {
  color: rgba(0, 0, 0, 0.5);
  font-size: 13px;
}
.orderDetails {
  margin: 20px 0px;
  font-size: 14px;
}
.orderDate {
  font-weight: 500;
}
.customerDetails {
  display: flex;
  gap: 20px;
  margin: 20px 0px;
  flex-wrap: wrap;
}
.customerBox {
  box-shadow: 0 2px 1px -1px #0003, 0 1px 1px #00000024, 0 1px 3px #0000001f;
  padding: 20px;
  width: 250px;
  height: 110px;
}
.customerBox2 {
  box-shadow: 0 2px 1px -1px #0003, 0 1px 1px #00000024, 0 1px 3px #0000001f;
  padding: 20px;
  width: 500px;
  height: 110px;
}

.head {
  text-align: center;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap:5px
}
.customerName {
  margin: 20px 0px;
  font-size: 14px;
}
.customerName2 {
  margin: 20px 0px;
  font-size: 13px;
}
.save {
  display: flex;
  justify-content: center;
  margin: 20px 0px;
}
.save button {
  background-color: red;
  padding: 10px 15px;
  font-size: 14px;
  font-weight: 400;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  border: none;
  color: white;
  box-shadow: 0 3px 1px -2px #0003, 0 2px 2px #00000024, 0 1px 5px #0000001f;
}
.container {
  width: 100%;
overflow: auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  overflow: auto;
}

.table th,
.table td {
  border: 1px solid #ddd;
  padding: 12px 16px;

}
.table td {
    font-size: 15px;
}
.table th {
  font-weight: 500;
}
.icon{
color:red;
}
.label {
  text-align: right;
  font-weight: 400;
  font-size: 15px;
}



.grandTotal {
  font-weight: bold;
  font-size: 1.1rem;
}

@media screen and (max-width: 768px) {
  .customerBox2 {
    overflow: auto;
  }
}
