.orderHead {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.stock {
  border: none;
  background-color: #21aa47;
  color: white;
  border-radius: 6px;
  padding: 5px 10px;
}
.tableContainer {
  margin-top: 20px;
  overflow-x: auto;
  box-shadow: 0 5px 5px -3px #0003, 0 8px 10px 1px #00000024,
    0 3px 14px 2px #0000001f !important;
}
.productContainer {
  background-color: white !important;
}
.orderFilter {
  display: flex;
  gap:30px;
  align-items: center;
  margin-top: 20px;
  overflow: auto;
  flex-wrap: wrap;
}